* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  min-height: 100vh;
  font-family: "Nesathoberyl";
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 30px;
}

.date-block-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 40px;
  margin-bottom: 30px;
}

.date-container {
  background: linear-gradient(to right, #2980b947, #6dd5fa, #2980b942);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 13px 2px;
  border-radius: 20px;
  padding: 20px;
  width: 350px;
  max-width: 500px;
  margin-bottom: 30px;
  color: #fff;
}

.launchQnt {
  margin-bottom: 40px;
}
